/* style.css */
#numbers-list h2 {
    background: white;
    color: #212529;
    padding: 20px;
    border-radius: 10px;
    min-width: 80px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.d-none { display: none !important; }